---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -cert-err33-c
WarningsAsErrors: "*"
HeaderFilterRegex: "include/.*"
...
